html {
    width: 100%;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: #25262b;
    color: #c1c2c5;
    font-size: 12px;
}

.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 120px;
    width: 120px;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#num-container { /* used in a different universe */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#num {
    font-size: 100px;
    margin-bottom: 15px;
}

#undernum-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;

    vertical-align: bottom;
    line-height: 175px;
}

#undernum {
    font-size: 32px;
    margin-bottom: auto;
    margin-left: 10px;
}